div{
    display: flex;
    justify-content: space-between;
   
}
a{
    text-decoration: none;

}
section{
    margin-left: ;
}
.close{
    display: flex;
}
i{
    font-size: 40px;
}