body{
    background-color: rgb(173, 148, 196);

}
main{
    display: flex;
    justify-content: center;
    flex-direction: column;
}
header{
    background-color:rgb(95, 95, 186) ;
text-align: center;
}
.first > div{
    width: 100px;
    height: 100px;
    background-color: aquamarine;
    border: 2px solid black;

}
.first{
    display: flex;
    justify-content: space-between;
}