*{
    margin: 0;
    padding: 0;
}
nav{

height: 90px;
font-size: 3rem;
display: flex;
text-align: center;
font-weight: bold;
}
img{
    height: 90px;
    width: 200px;
}
main{
    display: flex;
}



section{
    width: 500px;
    height: 800px;
    background-color: rgb(255, 255, 255);
    border: solid 1px gray;
}
.second{
    width: 1400px;
    background-color: rgb(186, 170, 170); 
    border: solid 1px grey;
}
li{
    box-shadow: 3px 3px gray;
    font-size: xx-large; 
    padding-top: 20px;
}
h1{
    color: rgb(31, 190, 134);
    font-size: 3rem;
    padding-bottom: 10px;
    margin-left: 20px;
}
p{
    color: rgb(167, 132, 132);
    padding-top: 10px;
    margin-left: 20px;
    font-size: xx-large;
}
.ad{
    width: 100px;
    height: 100px;
    border: solid 2px black;
    display: flex;
    align-items: center;
    justify-content: center;
   margin-top: 20px;
   margin-left: 150px;
}
.blog{
    width: 900px;
    height: 200px;
    background-color: white;
    box-shadow: 2px 2px 2px 2px;
    margin-top: 40px;
    margin-bottom: 20px;
    margin-left: 100px;
}